# Core PyTorch stack
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2


# Data handling & ML
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2

# Visualization & monitoring
matplotlib==3.9.2
seaborn==0.13.2
tqdm==4.66.5
tensorboard==2.17.1

# Experiment tracking & configuration
mlflow==2.16.2
optuna==3.6.1
pyyaml==6.0.2

# Image & CV utilities
opencv-python==4.10.0.84
albumentations==1.4.10

# Backend & API
fastapi==0.115.4
uvicorn==0.32.0
sqlalchemy==2.0.35
pydantic==2.9.2

# Orchestration
prefect==3.0.4

# Optional utilities (safe & useful)
python-dotenv==1.0.1
pytest==8.3.3
joblib==1.4.2
nvidia-ml-py3==7.352.0

# Optional experiment management
wandb==0.18.5


pre-commit==3.4.0
